*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html, body {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  color: #646461;
  overflow-y: scroll;
  overflow-x: hidden; }

.container {
  justify-content: space-between;
  background: url("../img/main-1.jpg") top center;
  height: 100vh;
  max-width: 100%;
  background-size: cover;
  margin: 0;
  position: relative;
  background-repeat: no-repeat; }

.main {
  margin: 0;
  padding: 0;
  height: 50vh;
  width: 100%; }

.sub-main1 {
  width: 100%; }

.trip-1 {
  flex-grow: 2;
  background-image: url("../img/rafting-trips.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 50vh;
  margin: 0;
  border: 1px solid red; }

.trip-2 {
  flex-grow: 1;
  height: 50vh;
  background-image: url("../img/basecamp-trips.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  border: 1px solid green; }

.trip-3 {
  flex-grow: 1;
  height: 50vh;
  margin: 0;
  background-image: url("../img/backpacking-trips.jpg");
  background-size: cover;
  background-repeat: no-repeat; }

.sub-main2 {
  width: 100%; }

.trip-4 {
  margin: 0;
  height: 50vh;
  width: 100%;
  background-image: url("../img/canoe-trips.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  flex-grow: 1;
  background-repeat: no-repeat; }

.trip-5 {
  flex-grow: 1;
  height: 50vh;
  width: 100%;
  background-image: url("../img/photography-trips.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0; }

.trip-6 {
  flex-grow: 2;
  height: 50vh;
  width: 100%;
  background-image: url("../img/custom-trips.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0; }

.landing-wrapper {
  display: block;
  width: 100vw;
  height: 100vh;
  border: 5px solid green; }

.nav-bar {
  height: 15vh;
  justify-content: space-between;
  border: 1px solid red; }

.logo {
  position: absolute;
  width: 240px;
  height: 50px; }

.logo img {
  width: 40px;
  height: 40px;
  display: block;
  margin-top: 86px;
  margin-left: 20px; }

.logo, img h4 {
  margin-top: -10px;
  padding: 0;
  margin-left: 20px;
  letter-spacing: 1px; }

.logo h4 {
  margin-top: 100px;
  font-size: 1.4rem;
  margin-left: 5px; }

.navigation {
  height: 100%;
  max-width: 100%;
  position: absolute;
  margin: auto;
  top: 90px; }

.navigation ul, li {
  display: inline-flex;
  list-style: none;
  text-decoration: none;
  color: white;
  font-size: 15px;
  margin-right: 10px; }

.navigation li, a {
  list-style: none;
  text-decoration: none;
  color: white;
  margin-left: 10px;
  letter-spacing: 1px; }

.menu a {
  display: block;
  margin-top: -10px;
  margin-left: 50px;
  width: 120px;
  font-size: 25px;
  position: absolute;
  display: none; }

button {
  width: 200px;
  border-radius: .5em;
  display: none; }

.landing-wrapper {
  justify-content: center;
  align-items: center;
  align-self: center;
  position: absolute; }

.heading {
  height: 600px;
  width: 100%; }

.heading img {
  align-self: center;
  position: absolute;
  width: 80px; }

.heading h2, span {
  color: white;
  align-self: center;
  text-align: center;
  margin: 0 40%;
  font-size: 15px;
  letter-spacing: 3px;
  font-weight: bold;
  position: absolute; }

.heading h2 {
  align-self: center;
  font-size: 8rem;
  letter-spacing: 2px;
  line-height: -130px; }

.container, .sub-main1, .trip-1, .trip-2, .trip-3, .sub-main2, .trip-4, .trip-5, .trip-6, .landing-wrapper, .nav-bar, .logo, img h4, .navigation, .navigation ul, li, .heading h2, span {
  display: flex; }

/*# sourceMappingURL=application.css.map */
