html, body {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box; }

.container {
  height: 100%;
  max-width: 100%;
  color: #646461; }

*, *:before, *:after {
  content: ""; }

.top-bar {
  background: url("../img/main-1.jpg") top center;
  height: 500px;
  width: 340px;
  background-size: cover;
  margin: 0;
  position: relative;
  background-repeat: no-repeat;
  color: white; }

.secondary-nav {
  display: none; }

.secondary-nav {
  width: 100%;
  position: absolute;
  text-align: center;
  background: #343433;
  justify-content: space-between; }

.secondary-nav li {
  font-size: 12px;
  margin-top: 20px;
  list-style: none;
  text-decoration: none;
  color: #bdbdb7; }

.secondary-nav li:nth-child(4) {
  border-right: 2px solid #bdbdb7;
  height: 50px;
  margin-top: 20px; }

.more {
  color: orange; }

hr {
  border: 1px solid red; }

.top-bar {
  justify-content: space-between; }

.top-bar {
  height: 500px;
  width: 320px; }

.logo, .navigation {
  flex-direction: row;
  margin-top: 40px; }

.logo {
  flex-direction: row;
  z-index: 100;
  justify-content: space-between; }

.navigation li {
  align-items: flex-start;
  justify-content: space-between; }

.heading {
  flex-direction: column; }

.heading img {
  margin-top: 30px;
  align-self: center;
  margin-left: 20px;
  width: 60px; }

.heading h2 {
  align-self: center; }

.heading img, h2, span {
  line-height: 10px;
  flex-direction: column;
  align-items: center;
  padding: 0; }

.secondary-nav {
  display: none; }

.main {
  flex-direction: column;
  margin: 0;
  background: #343433;
  width: 100%;
  height: 100%;
  padding-top: 80px; }

.sub-main img {
  flex-direction: column;
  height: 250px;
  width: 288px;
  border-radius: 3px;
  clear: both;
  margin: 20px;
  background-position: center;
  position: relative;
  overflow: hidden;
  margin: 16px; }

.main {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  position: relative; }

.sub-main a {
  height: 250px;
  margin: 20px;
  padding: 20px;
  border: 0; }

.logo {
  position: absolute;
  width: 240px;
  height: 50px; }

.logo img {
  width: 30px;
  height: 30px;
  display: block; }

.logo, img h4 {
  margin-top: 35px;
  padding: 0;
  margin-left: 8px;
  letter-spacing: 1px; }

.logo h4 {
  margin-top: 10px;
  font-size: 4px;
  margin-left: -12px; }

.navigation {
  height: 100%;
  visibility: hidden;
  z-index: 120;
  top: 0px;
  display: block;
  width: 250px;
  right: -250px; }

.navigation ul, a {
  list-style: none;
  text-decoration: none;
  color: white;
  font-size: 18px;
  margin-right: 10px;
  top: 10px; }

.navigation li, a {
  list-style: none;
  text-decoration: none;
  color: white;
  letter-spacing: 1px;
  margin-left: 10px; }

.menu a {
  display: block;
  margin-top: -10px;
  margin-left: 50px;
  width: 120px;
  font-size: 25px;
  position: absolute; }

.heading button {
  display: none; }

.heading {
  display: flex;
  justify-content: space-around;
  text-align: center; }

.heading img {
  margin-left: 110px;
  position: absolute;
  max-width: 100%;
  margin-top: 90px; }

.heading h2, span {
  color: white;
  text-align: center;
  font-size: 10px;
  line-height: 45px;
  letter-spacing: 3px;
  margin-top: 80px;
  font-weight: bold; }

.heading h2 {
  margin-top: 40px;
  font-size: 55px;
  letter-spacing: 2px; }

.heading-line {
  margin: 25px auto;
  background: #ffffff;
  width: 250px;
  height: 5px;
  margin: 25px 35px 25px 35px; }

.top-bar, .logo, .navigation, .navigation li, .heading, .heading img, h2, span, .main {
  display: flex; }

/*# sourceMappingURL=application.css.map */
