.main {
@extend %flex;
flex-wrap: wrap;
flex-direction: row;
width: 100%;
height: 100%;

}

.sub-main1, .sub-main2 {
@extend %flex;
@extend %sub-main;
}

.trip-1 {
@extend %trip-image;
flex-grow: 2;
background-image: url("../img/rafting-trips.jpg");
}

.trip-2 {
  @extend %trip-image;
  background-image: url("../img/basecamp-trips.jpg");

}
.trip-3 {
    @extend %trip-image;
    background-image: url("../img/backpacking-trips.jpg");
}
.trip-4 {
  @extend %trip-image;
  background-image: url("../img/canoe-trips.jpg");
}
.trip-5 {
  @extend %trip-image;
  background-image: url("../img/photography-trips.jpg");

}
.trip-6 {
  @extend %trip-image;
  flex-grow: 2;
  background-image: url("../img/custom-trips.jpg");
}
  //  icons

.icon1, .icon2, .icon3, .icon4, .icon5, .icon6 {
    @extend %icon;
}
.icon1:hover, .icon2:hover, .icon3:hover, .icon4:hover, .icon5:hover, .icon6:hover {
   @extend %hover;
}

.icon-p, .icon-p2, .icon-p3, .icon-p4, .icon-p5, .icon-p6 {
  @extend %icon-p;

}
.rafting {
  @extend %flex;
  @extend %icon-r1;
  left: 12%;
}
.base-camp {
  @extend %flex;
  @extend %icon-r1;
  left: 50%;
}
.backpack {
  @extend %flex;
  @extend %icon-r1;
  left: 81%;
}
.canoe {
    @extend %flex;
    @extend %icon-r2;
    left: 10%;
}
.photo {
  @extend %flex;
  @extend %icon-r2;
  left: 50%;
}
.custom {
  @extend %flex;
  @extend %icon-r2;
  left: 82%;
}
