*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html, body  {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  color: #646461;
  overflow-y: scroll;
  overflow-x: hidden;
}
.container {
  @extend %flex;
  justify-content: space-between;
   background: url("../img/main-1.jpg") top center;
   height: 100vh;
   width: auto;
   background-size: cover;
   margin: 0;
   padding: 0;
   flex-direction: column;
   position: relative;
   background-repeat: no-repeat;
 }

 .secondary-nav {
   @extend %flex;
   justify-content: space-between;
   position: relative;
   background: #343433;
   width: 100%;
   height: 10vh;
   margin: 0;
   padding: 0;
   flex-direction: row;
 }
.nav1 {
   @extend %flex;
   margin: 0;
   padding: 0;
 }
 .nav1 ul, li {
   @extend %flex;
   flex-wrap: wrap;
   font-size: .6em;
    margin: 0;
    padding: 0;
   list-style: none;
   text-decoration: none;
   color: #bdbdb7;

}
.nav1 span {
  border-left: 2px solid #bdbdb7;
  padding: 15px;
  color: orange;
  font-size: 1em;

}
.search {
  margin-left: auto;
  margin-right: 1em;

}
